.newProductMain {
  display: flex;
  flex-direction: wrap;
}
.newProduct {
  flex: 4;
  margin: 20px;
}

.addProductForm {
    display: flex;
    flex-wrap: wrap;
}

.addProductItem {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
margin-right: 20px;
 
}

.addProductItem > label {
  color: rgb(44, 44, 44);
  font-weight: 600;
  margin-bottom: 8px;
}

.addProductItem > input {
  padding: 8px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  padding: 7px 10px;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
